@import './utils/variables.scss';

@import './base/common.scss';
@import './base/container.scss';
@import './base/section.scss';

@import './components/modal-button.scss';
@import './components/modal-title.scss';
@import './components/modal-window-buynow.scss';
@import './components/modal-window-franchise.scss';
@import './components/modal-window-how-its-made.scss';
@import './components/modal-window-ingredients';
@import './components/modal-windows-locations';


@import './layout/hero-header.scss';
@import './layout/products.scss';
@import './layout/about.scss';
@import './layout/advantages.scss';
@import './layout/gallery.scss';
@import './layout/reviews.scss';
@import './layout/contacts.scss';
@import './layout/footer.scss';
