:root {

  --base-bg-color: #84a178;
  --second-bg-color: #fcfcfc;
  --base-text-color: #131313;
  --second-text-color: #fcfcfc;
  --accent-color: #f8d24e;
  --hover-button: #0a8817;
  --disabled-button: #ababab;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;
  --modal-input-color: rgba(248, 210, 78, 0.1);
  --contacts-text-color: #ababab;
  --address-text-color: #d6936d;
  --bg-product1: #aec6a5;
  --bg-product2: #efd478;
  --bg-product3: #d6936d;
}

