:root {
    --base-bg-color: #84A178;
    --second-bg-color: #FCFCFC;
    --base-text-color: #131313;
    --second-text-color: #FCFCFC;
    --accent-color: #F8D24E;
    --hover-button: #0A8817;
    --disabled-button: #ABABAB;
    --primary-font: 'Montserrat', sans-serif;
    --title-font: 'Seymour One', sans-serif;
    --modal-input-color: rgba(248, 210, 78, 0.1);
    --contacts-text-color: #ABABAB;
    --address-text-color: #D6936D;
}