<section>    <div class="container">
     <div class="contact">
      <ul class="contact__container" >
        
        <li class="contact__item">
          <span class="contact__name">CAFE</span>
          <div class="pos-relative contact__city-adress">
          <span class="contact__city">Chicago</span>
          <a class="contact__adress" href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034056,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
          <span class="contact__line"></span>
          </div>
          <div class="pos-relative contact__opening-hours">
            <div class="contact__block">
          <span class="contact__title contact__day">Monday - Friday</span>
          <span class="contact__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="contact__block">
          <span class="contact__title contact__day">Saturday - Sunday</span>
          <span class="contact__time">08:00 AM - 16:00 PM</span>
          <span class="contact__line"></span>
          </div>
        </div>
          <div class="contact__mail-phone">
            <a
                class="phone-mail__item"
                href="mailto:noreply@envato.com"
                >
                  noreply@envato.com
                </a
                >
            <a class="phone-mail__item" href="tel:+61(0) 383 766 284">
             
               </svg>+61(0) 383 766 284</a>
        </div>
        </li>
        <li class="contact__item">
          <span class="contact__name">FOODTRUCK</span>
          <div class="pos-relative contact__city-adress">
          <span class="contact__city">Los Angeles</span>
          <a class="contact__adress" href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
          <span class="contact__line"></span>
          </div>
          <div class="pos-relative contact__opening-hours">
            <div class="contact__block">
          <span class="contact__title contact__day">Monday - Friday</span>
          <span class="contact__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="contact__block">
          <span class="contact__title contact__day">Saturday - Sunday</span>
          <span class="contact__time">08:00 AM - 16:00 PM</span>
          <span class="contact__line"></span>
          </div>
        </div>
          <div class="contact__mail-phone">
            <a
                class="phone-mail__item"
                href="mailto:noreply@envato.com"
                >
                  noreply@envato.com
                </a
                >
            <a class="phone-mail__item" href="tel:+61(0) 383 766 284">
             
               </svg>+61(0) 383 766 284</a>
        </div>
        </li>
        <li class="contact__item">
          <span class="contact__name">CAFE</span>
          <div class="pos-relative contact__city-adress">
          <span class="contact__city">New York</span>
          <a class="contact__adress" href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
          <span class="contact__line"></span>
          </div>
          <div class="pos-relative contact__opening-hours">
            <div class="contact__block">
          <span class="contact__title contact__day">Monday - Friday</span>
          <span class="contact__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="contact__block">
          <span class="contact__title contact__day">Saturday - Sunday</span>
          <span class="contact__time">08:00 AM - 16:00 PM</span>
          <span class="contact__line"></span>
          </div>
        </div>
          <div class="contact__mail-phone">
            <a
                class="phone-mail__item"
                href="mailto:noreply@envato.com"
                >
                  noreply@envato.coms
                </a
                >
            <a class="phone-mail__item" href="tel:+61(0) 383 766 284">
             
               </svg>+61(0) 383 766 284</a>
        </div>
        </li>
      </ul>
         <div class="contact__button">
      <button class="contact__button-item btn" type="button">Our Location  <svg  class="contact-button__svg">
              <use href="./images/icons.svg#icon-button-right"></use>
            </svg></button>
     
      <button type="button" class="contact__button-item-second">Franchise <svg  class="contact-button__svg">
              <use href="./images/icons.svg#icon-button-right"></use>
            </svg></button>
      </div>
    </div>
 
    </div>
</section>
