<section>
  <div class="container overlay">
    <h2 class="main-title visually-hidden">Customer Reviews</h2>
    <div class="image-slider swiper">
      <div class="image-slider__wrapper swiper-wrapper">
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <picture>
              <source
                srcset="
                  ./images/reviews/фото1.png    1x,
                  ./images/reviews/фото1@2x.png 2x
                "
              />
              <img
                class="image-slider__photo"
                src="./images/reviews/фото1.png"
                alt="Emily's photo"
              />
            </picture>
            <p class="image-slider__reviews">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="image-slider__customers">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <picture>
              <source
                srcset="
                  ./images/reviews/фото2.png    1x,
                  ./images/reviews/фото2@2x.png 2x
                "
              />
              <img
                class="image-slider__photo"
                src="./images/reviews/фото2.png"
                alt="Sam's photo"
              />
            </picture>
            <p class="image-slider__reviews">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
            <p class="image-slider__customers">Sam, Los Angeles</p>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <picture>
              <source
                srcset="
                  ./images/reviews/фото3.png    1x,
                  ./images/reviews/фото3@2x.png 2x
                "
              />
              <img
                class="image-slider__photo"
                src="./images/reviews/фото3.png"
                alt="Diana's photo"
              />
            </picture>
            <p class="image-slider__reviews">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <p class="image-slider__customers">Diana, Chicago</p>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <picture>
              <source
                srcset="
                  ./images/reviews/фото4.png    1x,
                  ./images/reviews/фото4@2x.png 2x
                "
              />
              <img
                class="image-slider__photo"
                src="./images/reviews/фото4.png"
                alt="Bryan's photo"
              />
            </picture>
            <p class="image-slider__reviews">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
            <p class="image-slider__customers">Bryan, New-York</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
