<footer class="footer_bg">
    <h3 class="visually-hidden">footer title</h3>
    <div class="footer_box container">
        <div>
            <p class="footer_name-first">homemade ice cream made</p>
            <p class="footer_name-second">with passion</p>
        </div>
        <div class="footer_contact-box">
            <ul class="footer_social-list">
                <li class="list"><a aria-label="github desktop link" class="footer_social-link" href="">
                        <svg width="34" height="34">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="list"><a aria-label="telegram link" class="footer_social-link" href="">
                        <svg width="34" height="34">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a></li>
                <li class="list"><a aria-label="facebook link" class="footer_social-link" href="">
                        <svg width="34" height="34">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a></li>
                </ul>
            <p class="footer_contacts">Feel free to contact &nbsp;<a aria-label="Contact phone"
                    class="footer_phone-color link" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
        </div>
    </div>

    <p class="footer_circulation">&#169;&nbsp;2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.</p>

</footer>