<footer class="footer_bg container">
<h3 class="main-title visually-hidden">footer title</h3>
<p class="footer_title-first">homemade ice cream made</p>
<p class="footer_title-second">with passion</p>
<ul class="footer_icon-list">
<li class="list"><a aria-label="github desktop link" class="footer_social-link" href="">
<svg width="34" height="34">
<use href="./images/icons.svg#icon-github"></use>
</svg>
</a>
</li>
<li class="list"><a aria-label="telegram link" class="footer_social-link" href="">
<svg width="34" height="34">
<use href="./images/icons.svg#icon-telegram"></use>
</svg>
</a></li>
<li class="list"><a aria-label="facebook link" class="footer_social-link" href="">
<svg width="34" height="34">
<use href="./images/icons.svg#icon-facebook"></use>
</svg>
</a></li>
</ul>
<div class="footer_contact-box">
<p class="footer_contacts">Feel free to contact</p>
<a aria-label="Contact phone" class="footer_phone-color link" href="tel:+610383766284">+61 (0) 383 766 284</a>
</div>

<p class="footer_bottom-text">© 2022 - IceCream. All Rights Reserved.</p>

</footer>