<section>
  <div class="container customer">
    <div class="gallery__try">
      <p class="hidden-visally">Галерея</p>
    </div>
    <div>
      <picture>
        <source
          srcset="./images/gallery/desktop/desktop-brooke-lark.png 1x, ./images/gallery/desktop/desktop-brooke-lark@2x.png 2x"
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="./images/gallery/tablet/tablet-brooke-lark.png 1x, ./images/gallery/tablet/tablet-brooke-lark@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="./images/gallery/mobile/mobile-brooke-lark.png 1x, ./images/gallery/mobile/mobile-brooke-lark@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />
        <img class="gallery__foto animate__animated animate__zoomInDown wow"
          data-wow-offset="100" src="./images/gallery/mobile/mobile-brooke-lark.png" alt="gallery" />
      </picture>
    </div>
  </div>
</section>
