<section>
  <div class="gallery">
    <div>
      <h2 class="visually-hidden">Галерея</h2>
    </div>
    <div class="container gallery__foto ">
      <div class=" gallery__wrapper"></div>
      <div class="gallery__slider">
      <picture class="gallery__picture">
        <source
          srcset="./images/gallery/desktop/desktop-brooke-lark.png 1x, ./images/gallery/desktop/desktop-brooke-lark@2x.png 2x"
          media="(min-width: 1200px)" type="image/png" />
        <source
          srcset="./images/gallery/tablet/tablet-brooke-lark.png 1x, ./images/gallery/tablet/tablet-brooke-lark@2x.png 2x"
          media="(min-width: 768px)" type="image/png" />
        <source
          srcset="./images/gallery/mobile/mobile-brooke-lark.png 1x, ./images/gallery/mobile/mobile-brooke-lark1@2x.png 2x"
          media="(max-width: 767px)" type="image/png" />
        <img class="gallery__img animate__animated animate__zoomInDown wow" data-wow-offset="100"
          src="./images/gallery/mobile/mobile-brooke-lark.png" alt="gallery" />
      </picture>
      <picture class="gallery__picture">
    <source
      srcset="./images/gallery/desktop/slider1.png 1x, ./images/gallery/desktop/slider1@2x.png 2x"
      media="(min-width: 1200px)" type="image/png" />
    <source
      srcset="./images/gallery/tablet/tablet-brooke-lark1.png 1x, ./images/gallery/tablet/tablet-brooke-lark1@2x.png 2x"
      media="(min-width: 768px)" type="image/png" />
    <source
      srcset="./images/gallery/mobile/mobile-brooke-lark1.png 1x, ./images/gallery/mobile/mobile-brooke-lark1@2x.png 2x"
      media="(max-width: 767px)" type="image/png" />
    <img class="gallery__img animate__animated animate__zoomInDown wow" data-wow-offset="100"
      src="./images/gallery/mobile/mobile-brooke-lark1.png" alt="gallery" />
  </picture>
    <picture class="gallery__picture">
      <source
        srcset="./images/gallery/desktop/slider2.png 1x, ./images/gallery/desktop/slider2@2x.png 2x"
        media="(min-width: 1200px)" type="image/png" />
      <source
        srcset="./images/gallery/tablet/tablet-brooke-lark2.png 1x, ./images/gallery/tablet/tablet-brooke-lark2@2x.png 2x"
        media="(min-width: 768px)" type="image/png" />
      <source
        srcset="./images/gallery/mobile/mobile-brooke-lark2.png 1x, ./images/gallery/mobile/mobile-brooke-lark2@2x.png 2x"
        media="(max-width: 767px)" type="image/png" />
      <img class="gallery__img animate__animated animate__zoomInDown wow" data-wow-offset="100"
        src="./images/gallery/mobile/mobile-brooke-lark2.png" alt="gallery" />
    </picture>
      <picture class="gallery__picture">
        <source
          srcset="./images/gallery/desktop/slider3.png 1x, ./images/gallery/desktop/slider3@2x.png 2x"
          media="(min-width: 1200px)" type="image/png" />
        <source
          srcset="./images/gallery/tablet/tablet-brooke-lark3.png 1x, ./images/gallery/tablet/tablet-brooke-lark3@2x.png 2x"
          media="(min-width: 768px)" type="image/png" />
        <source
          srcset="./images/gallery/mobile/mobile-brooke-lark3.png 1x, ./images/gallery/mobile/mobile-brooke-lark3@2x.png 2x"
          media="(max-width: 767px)" type="image/png" />
        <img class="gallery__img animate__animated animate__zoomInDown wow" data-wow-offset="100"
          src="./images/gallery/mobile/mobile-brooke-lark3.png" alt="gallery" />
      </picture>
            <picture class="gallery__picture">
              <source srcset="./images/gallery/desktop/slider4.png 1x, ./images/gallery/desktop/slider4@2x.png 2x"
                media="(min-width: 1200px)" type="image/png" />
              <source
                      srcset="./images/gallery/tablet/tablet-brooke-lark4.png 1x, ./images/gallery/tablet/tablet-brooke-lark4@2x.png 2x"
                      media="(min-width: 768px)" type="image/png" />
                    <source
                      srcset="./images/gallery/mobile/mobile-brooke-lark4.png 1x, ./images/gallery/mobile/mobile-brooke-lark4@2x.png 2x"
                      media="(max-width: 767px)" type="image/png" />
              <img class="gallery__img animate__animated animate__zoomInDown wow" data-wow-offset="100"
                src="./images/gallery/mobile/mobile-brooke-lark4.png" alt="gallery"  />
            </picture>
    </div>
    </div>
  </div>
</section>