<!-- products -->
<section class="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__items">
      <li class="products__item">
        <div class="products__aside bg-color-1">
          <span class="products__form ice-cream"></span>
          <div>
            <h3 class="products__subject">ice cream</h3>
            <p class="products__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <button class="products__btn">
            <svg class="products__mark">
              <use href="./images/icons.svg#icon-big-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__aside bg-color-2">
          <span class="products__form ice-coffee"></span>
          <div>
            <h3 class="products__subject">ice coffee</h3>
            <p class="products__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <button class="products__btn">
            <svg class="products__mark">
              <use href="./images/icons.svg#icon-big-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__aside bg-color-3">
          <span class="products__form milkshakes"></span>
          <div>
            <h3 class="products__subject">milkshakes</h3>
            <p class="products__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <button class="products__btn">
            <svg class="products__mark">
              <use href="./images/icons.svg#icon-big-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
