<div class="backdrop is-hidden" data-prod-modal>
  <div class="modal-container">
    <div class="modal-prod">
      <buttom class="modal-prod__close">
        <svg class="modal-prod__icon" data-modal-prod-close>
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </buttom>
      <h2 class="modal-prod__heading text-decor">Chololate icecream</h2>
      <div class="modal-prod__bgr">
        <span class="modal-prod__img"></span>
      </div>
      <ul class="modal-prod__list">
        <li class="modal-prod__item">
          <h4 class="modal-prod__title">320</h4>
          <p class="modal-prod__text">kcal</p>
        </li>
        <li class="modal-prod__item">
          <h4 class="modal-prod__title">4g</h4>
          <p class="modal-prod__text">Prote...</p>
        </li>
        <li class="modal-prod__item">
          <h4 class="modal-prod__title">8,2g</h4>
          <p class="modal-prod__text">Fats</p>
        </li>
        <li class="modal-prod__item">
          <h4 class="modal-prod__title">40,4g</h4>
          <p class="modal-prod__text">Carbs</p>
        </li>
      </ul>
      <h3 class="modal-prod__subtitle">Ingredients</h3>
      <ul class="modal-prod__lists">
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Milk</span>
          <span class="modal-prod__excerpt">100ml</span>
        </li>
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Belgian chocolate</span>
          <span class="modal-prod__excerpt">20g</span>
        </li>
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Cream</span>
          <span class="modal-prod__excerpt">150 ml</span>
        </li>
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Cocoa powder</span>
          <span class="modal-prod__excerpt">30g</span>
        </li>
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Sugar</span>
          <span class="modal-prod__excerpt">40g</span>
        </li>
        <li class="modal-prod__items">
          <span class="modal-prod__excerpt">Vanilla sugar</span>
          <span class="modal-prod__excerpt">10g</span>
        </li>
      </ul>
      <form action="" class="modal-prod__form">
        <ul class="form__items">
          <li class="form__list">
            <input
              class="form-input"
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Name"
            />
          </li>
          <li class="form__list">
            <input
              class="form-input"
              type="text"
              id="user-phone"
              name="user-phone"
              placeholder="Phone"
            />
          </li>
          <li class="form__list">
            <textarea
              class="form__message"
              name="user-message"
              rows="5"
              placeholder="Comment"
            ></textarea>
          </li>
        </ul>
        <button class="fone__btn btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
