<!-- products -->
<section class="products">
  <div class="container">
    <div>
      <p class="products__subtitle">100% natural</p>
      <h2 class="products__title">products</h2>
      <ul class="products__items">
        <li
          class="products__item animate__animated animate__fadeInUp wow"
          data-wow-duration="1s"
        >
          <div class="products__aside bg-color-1">
            <div class="products__bgr bgr-ice-cream">
              <span class="products__img ice-cream"></span>
            </div>
            <div>
              <h3 class="products__subject">ice cream</h3>
              <p class="products__text">
                Soft ice cream with a delicate taste. Made with milk, cream,
                sugar and natural stabilizer
              </p>
            </div>
            <button type="button" class="products__btn" data-modal-prod-open>
              <svg class="products__mark">
                <use href="./images/icons.svg#icon-big-arrow"></use>
              </svg>
            </button>
          </div>
        </li>
        <li
          class="products__item animate__animated animate__fadeInUp wow"
          data-wow-duration="0.6s"
        >
          <div class="products__aside bg-color-2">
            <div class="products__bgr bgr-ice-coffee">
              <span class="products__img ice-coffee"></span>
            </div>
            <div>
              <h3 class="products__subject">ice-coffee</h3>
              <p class="products__text">
                Fragrant invigorating drink created from 100% natural
                ingredients without the use of preservatives and flavor
                enhancers
              </p>
            </div>
            <button type="button" class="products__btn" data-modal-prod-open1>
              <svg class="products__mark">
                <use href="./images/icons.svg#icon-big-arrow"></use>
              </svg>
            </button>
          </div>
        </li>
        <li
          class="products__item animate__animated animate__fadeInUp wow"
          data-wow-duration="0.3s"
        >
          <div class="products__aside bg-color-3">
            <div class="products__bgr bgr-milkshakes">
              <span class="products__img milkshakes"></span>
            </div>
            <div>
              <h3 class="products__subject">milkshakes</h3>
              <p class="products__text">
                Sweet drinks based on milk and ice cream, supplemented with
                syrups, fruits, berries and other sweets of your choice
              </p>
            </div>
            <button type="button" class="products__btn" data-modal-prod-open2>
              <svg class="products__mark">
                <use href="./images/icons.svg#icon-big-arrow"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- модалка -->
