.modal-ourlocation {
        display: flex;
            flex-direction: column;
    background-color: white;
    max-width: 280px;
    max-height: 365px;
    position: absolute;
    border-radius: 4px;
        padding: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        @media screen and (min-width:768px) {
            min-width: 568px;
            min-height: 458px
            
        }
}
.backdrop {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        opacity: 1;
        -webkit-transition: opacity 250ms;
        transition: opacity 250ms;
}
.location-close__svg {
    width: 16px;
        height: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
      
}
.button-close {
    width: 16px;
     height: 16px;
        position: absolute;
            top: 0px;
            right: 0px;
            background-color: transparent;
            border: 0;
}
.ourlocation__image {
    background-image: url(/src/images/contact/);
}