.about {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--base-bg-color);

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.about__second-title--margin {
  margin-bottom: 12px;
}

.about__subject {
  width: 200px;
  margin: 0 auto 32px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 456px;

    margin-bottom: 79px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 483px;

    margin-bottom: 82px;
  }
}

.about__box {
  position: relative;
  width: 278px;
  height: 278px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 1730px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    border-radius: 381px;
  }
}

.about__img {
  position: absolute;
  top: 22px;
  left: 0;
  width: 278px;
  height: 278px;

  @media screen and (min-width: 768px) {
    width: 334px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}

.about__holder {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
  margin-bottom: 4px;

  // @media screen and (min-width: 480px) {
  //   width: 220px;
  // }

  @media screen and (min-width: 768px) {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;

    // width: 334px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;

    letter-spacing: 0.04em;
    width: 463px;
  }
}

.about__text--margin {
  line-height: 162%;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.about__text--tablet-desktop {
  display: none;
}

// .about__btn {
//   margin-top: 20px;
// }

.about__container {
  // @media screen and (max-width: 480px) {
  //   display: flex;
  // }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 100px;
  }
}

.about-button {
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
  }
}
