.about {
    margin-left: auto;
    max-width: 1199px;
    margin-right: auto;
    text-align: center;
    padding-bottom: 84px;
    background-color: var(--base-bg-color);

    @media screen and (min-width:768px) {
        padding-bottom: 224px;
        }
    
        @media screen and (min-width:1200px) {
        padding-bottom: 154px;
        }
}

.about__subject {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.about__box {
    position: relative;
    width: 278px;
    height: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 166px;
    margin-top: 32px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.about__img {
    position: absolute;
    top: 22px;
    left: 0;
    width: 278px;
    height: 278px;
}

.about__holder {
    padding-left: 30px;
    padding-right: 30px;
}

.about__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: var(--second-text-color);

}

.about__text--margin {
    line-height: 1.62;
    letter-spacing: normal;
    margin-top: 3px;
}

.about__text--tablet-desktop {
    display: none;
}

.about__btn {
    margin-top: 20px;
}