.footer_bg {
background-color: var(--base-bg-color);
width: 100%;
}

.footer_title-first {
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
line-height: 1.22;
text-transform: uppercase;
color: #FCFCFC;
}

.footer_title-second {
font-family: 'Montserrat';
font-weight: 700;
font-size: 34px;
line-height: 1.2;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FCFCFC;
}
.footer_icon-list {
display: flex;
justify-content: right;
align-items: center;
column-gap: 27px;
padding-top: 42px;
padding-bottom: 38px;
}

.footer_contacts {
justify-content: right;
}

.footer_contact-box {
display: flex;
justify-content: right;
align-items: center;
margin-bottom: 40px;
}
.footer_phone-color {
    color: var(--text-color_light);
}

.footer_bottom-text {
align-items: center;
justify-content: center;
font-family: var(--primary-font);
font-weight: 700;
font-size: 14px;
line-height: 152%;
text-align: center;
color: #7A7A7A;
border-top: 1px solid #E1E1E1;
}