.gallery__try {
    margin-left: -16px;
    height: 94px;
    background-color: #84A178;
    width: 1200px;
}

.hidden-visally {
    position: fixed;
    transform: scale(0);
}

.gallery__foto {
    display: block;
    margin: 0 auto;
    width: 1013px;
    height: 422px;
    margin-top: -94px;
    margin-bottom: 55px;
    /* outline: 2px solid tomato; */
}

