// Загальне вікно модалки
li {
  list-style: none;
}

.modal-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.modal-prod {
  width: 280px;
  height: 990px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--second-bg-color);
  position: relative;
  padding: 28px 20px 32px;

  .bgr-img1 {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }
  .bgr-img2 {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    padding: 32px 40px;
    width: 568px;
    height: 995px;
  }
}
// кнопка закриття
.modal-prod__close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal-prod__icon {
  width: 20px;
  height: 20px;
  fill: var(--base-text-color);
}
// заголовок
.modal-prod__heading {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  align-items: center;
  text-align: center;
  margin-bottom: 22px;
}
// Центральне зображення
.modal-prod__bgr {
  margin: 0 auto 24px;
  display: block;
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.modal-prod__img {
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  top: -7px;
  border-radius: 50%;
  background-image: url(/src/images/products/desktop/desktop-product-modal.png);
  background-position: center;
}
// Список детелай напія
.modal-prod__list {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 39px;
  .bord1 {
    border: 2px solid var(--accent-color);
  }
  .bord2 {
    border: 2px solid var(--bg-product3);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
}

.modal-prod__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 53px;
  height: 72px;
  background-color: transparent;
  border: 2px solid var(--base-bg-color);
  border-radius: 40px;
  padding-bottom: 14px;

  .bgr-color1 {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    box-shadow: 0px 6px 20px rgba(248, 210, 78, 0.25);
  }
  .bgr-color2 {
    border: 2px solid var(--bg-product3);
    background-color: var(--bg-product3);
    box-shadow: 0px 6px 20px rgba(214, 147, 109, 0.25);
  }
}

.modal-prod__title {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(28 / 9);
  align-items: center;
  text-align: center;
  border: 2px solid #9cbe8f;

  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: var(--bg-poduct-modal);
  border: 2px solid var(--bg-poduct-modal);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-prod__text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
}
.modal-prod__subtitle {
  font-size: 20px;
  line-height: calc(28 / 20);
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.modal-prod__lists {
  margin-bottom: 48px;
}
.modal-prod__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.modal-prod__excerpt {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
}
// форма
.form-input {
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--base-bg-color);
  border-radius: 10px;
  padding: 11px;
  outline: var(--bg-poduct-moda);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    &:hover,
    :focus {
      scale: 103%;
    }
  }
}
.form__message {
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--base-bg-color);
  border-radius: 10px;
  resize: none;
  padding: 11px;
  outline: var(--bg-poduct-moda);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    &:hover,
    :focus {
      scale: 103%;
    }
  }
}
.form__list:not(:last-child) {
  margin-bottom: 16px;
}
.form__items {
  margin-bottom: 32px;
}
.fone__btn {
  display: block;
  margin: 0 auto;
}
.modal-prod__form {
  @media screen and (min-width: 768px) {
    width: 368px;
    margin: 0 auto;
  }
}
