.image-slider__photo {
  margin: 0 auto;
}

.image-slider__reviews {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: var(--second-text-color);
  background-color: var(--base-bg-color);
  border-radius: 10px;

  padding: 34px 39px;
  margin-top: 32px;
  margin-bottom: 30px;
}

.image-slider__customers {
  font-style: normal;
  font-size: 20px;
  line-height: 186%;
  text-align: center;

  margin-bottom: 14px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.image-slider .swiper-pagination {
  position: relative;
  bottom: 0;
  text-align: center;
}

.image-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--base-bg-color);
}


@media screen and (min-width: 768px) {
  .image-slider__reviews {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
    border-radius: 24px;

    padding: 29px 80px;
    margin-top: 28px;
    margin-bottom: 32px;
  }

  .image-slider__customers {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .image-slider__reviews {
    font-size: 16px;
    padding: 39px 74px;
    margin-top: 32px;
  }
}
